*{
  margin: 0;
}

.app{
  background-color: #fafafa;
}

.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsLeft{
  margin-right: 15px;
}

.app__postsRight{
  margin-left: 15px;
}

@media only screen and (max-width: 700px) {
  .app__posts{
    flex-direction: column;
  }
}

.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  object-fit: contain;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.app__headerImage{
  object-fit: contain;
}

.app__signup{
  display: flex;
  flex-direction: column;
}

.app__footer{
  position: sticky;
  bottom: 0;
  z-index: 1;
  object-fit: contain;
  background-color: white;
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

